@model Test_Crud_Carlos_Arrieta.Models.tVenta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.momento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.momento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_pelicula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cod_venta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
