@model Test_Crud_Carlos_Arrieta.Models.tPelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tPelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.txt_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.txt_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cant_disponibles_alquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cant_disponibles_alquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cant_disponibles_venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cant_disponibles_venta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio_alquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio_alquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio_venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio_venta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cod_pelicula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
