@model IEnumerable<IGrouping<int, Test_Crud_Carlos_Arrieta.Models.ViewModels.FilmGenre>>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Generos
            </th>
            <th>
                Stock para Alquiler
            </th>
            <th>
                Stock para Venta
            </th>
            <th>
                Precio Alquiler
            </th>
            <th>
                Precio Venta 
            </th>
            <th></th>
        </tr>
        
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First().film.txt_desc)
            </td>
            <td>
                @{
                    string genres = "";

                    @foreach (var g in item)
                    {
                        if (g.genre.txt_desc != "Sin Genero")
                            genres += g.genre.txt_desc + "\n";
                    }
                }

                @genres
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First().film.cant_disponibles_alquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First().film.cant_disponibles_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First().film.precio_alquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First().film.precio_venta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Key">Edit</a> |
                <a asp-action="AddGenre" asp-route-id="@item.Key">Agregar genero</a> |
                <a asp-action="Delete" asp-route-id="@item.Key">Delete</a>
            </td>

            
        </tr>
}
    </tbody>
</table>
