@model IEnumerable<Test_Crud_Carlos_Arrieta.Models.tPelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.txt_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cant_disponibles_alquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cant_disponibles_venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_alquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_venta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.txt_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cant_disponibles_alquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cant_disponibles_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_alquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_venta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cod_pelicula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cod_pelicula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cod_pelicula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
