@model IEnumerable<Test_Crud_Carlos_Arrieta.Models.tUsers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Usted mismo no se puede editar ni borrar, debe hacerlo otro admin</p>

@if(ViewBag.error != null) 
{
    <p class="text-danger">@ViewBag.error</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.txt_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nro_doc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sn_activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.txt_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nro_doc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sn_activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_rol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cod_usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cod_usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cod_usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
